<?xml version="1.0" encoding="UTF-8" ?>

<configuration scan="true" scanPeriod="3 seconds">

  <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

  <!--控制台输出-->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
  <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>
        %X{myTag} %d{HH:mm:ss.SSS} [%thread] %-5level %logger{32} - %msg%n
      </pattern>
    </layout>

    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp>
          <timeZone>UTC</timeZone>
        </timestamp>
        <provider class="com.bage.study.log.logback.MaskingPatternLayout">
          <rules>
            <rule>
              <name>ssn</name>
              <pattern>\d{3}-?\d{2}-?\d{4}</pattern>
            </rule>
          </rules>
        </provider>
        <stackTrace/>
        <pattern>
          <pattern>
            {
            "severity": "%level",
            "thread": "%thread",
            "class": "%logger{40}"
            }
          </pattern>
        </pattern>
      </providers>
    </encoder>

    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="com.bage.study.log.logback.MaskingPatternLayout">
        <maskPattern>\"ssn\"\s*:\s*\"(.*?)\"</maskPattern> <!-- ssn JSON pattern -->
        <maskPattern>\"email\"\s*:\s*\"(.*?)\"</maskPattern> <!-- Email JSON pattern -->
      </layout>
    </encoder>

  </appender>

  <!--输出到文件-->
  <appender name="FILE"
            class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>logFile.log</File>
    <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>
        logFile.%d{yyyy-MM-dd_HH-mm}.log.zip
      </FileNamePattern>
    </rollingPolicy>

    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>
        %d{HH:mm:ss,SSS} [%thread] %-5level %logger{32} - %msg%n
      </Pattern>
    </layout>
  </appender>

  <root>
    <level value="info"/> <!--输出级别-->
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
  </root>

  <!--<include file="/tmp/logback-demo.xml"/>-->

</configuration>