<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!--
    相对顺序，不能颠倒
	properties（属性）
	settings（设置）
	typeAliases（类型别名）
	typeHandlers（类型处理器）
	objectFactory（对象工厂）
	plugins（插件）
	environments（环境配置）
	environment（环境变量）
	transactionManager（事务管理器）
	dataSource（数据源）
	databaseIdProvider（数据库厂商标识）
	mappers（映射器）
	-->

	<!--别名-->
	<typeAliases>
		<package name="com.bage.study.mybatis.springboot.org.domain"/>
	</typeAliases>

	<!--类型处理-->
	<typeHandlers>
		<typeHandler handler="com.bage.study.mybatis.springboot.typehandler.SexTypeHandler"></typeHandler>
	</typeHandlers>

	<!-- mybatis-config.xml -->
	<plugins>
		<plugin interceptor="com.bage.study.mybatis.springboot.interceptor.SqlTimeCostPlugin">
			<property name="someProperty" value="100"/>
		</plugin>
	</plugins>

	<mappers>
		<mapper resource="com/bage/study/mybatis/springboot/org/UserMapper.xml"/>
		<mapper resource="com/bage/study/mybatis/springboot/org/UserExtMapper.xml"/>
		<mapper resource="com/bage/study/mybatis/springboot/org/DepartmentMapper.xml"/>
		<mapper resource="com/bage/study/mybatis/springboot/org/DepartmentAddressMapper.xml"/>
	</mappers>

</configuration>