<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties resource="org/mybatis/example/config.properties">
		
		<!-- Enable this feature -->
		<property name="org.apache.ibatis.parsing.PropertyParser.enable-default-value" value="true"/> 
		
		<!-- MySQL数据库配置 -->
	  	<property name="driver" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/my_db" />
		<property name="username" value="root" />
		<property name="password" value="root" />
		
	</properties>

	<settings>
	  <setting name="cacheEnabled" value="true"/>
	  <setting name="lazyLoadingEnabled" value="true"/>
	  <setting name="multipleResultSetsEnabled" value="true"/>
	  <setting name="useColumnLabel" value="true"/>
	  <setting name="useGeneratedKeys" value="false"/>
	  <setting name="autoMappingBehavior" value="PARTIAL"/>
	  <setting name="autoMappingUnknownColumnBehavior" value="WARNING"/>
	  <setting name="defaultExecutorType" value="SIMPLE"/>
	  <setting name="defaultStatementTimeout" value="25"/>
	  <setting name="defaultFetchSize" value="100"/>
	  <setting name="safeRowBoundsEnabled" value="false"/>
	  <setting name="mapUnderscoreToCamelCase" value="false"/>
	  <setting name="localCacheScope" value="SESSION"/>
	  <setting name="jdbcTypeForNull" value="OTHER"/>
	  <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>
	</settings>

	<typeAliases>
	  <typeAlias alias="Weather" type="org.mybatis.example.Weather"/>
	</typeAliases>

	<typeHandlers>
	  <typeHandler handler="org.mybatis.example.ExampleTypeHandler"/>
	</typeHandlers>

	<objectFactory type="org.mybatis.example.ExampleObjectFactory">
	  <property name="someProperty" value="100"/>
	</objectFactory>

	<plugins>
	  <plugin interceptor="org.mybatis.example.ExamplePlugin">
	    <property name="someProperty" value="100"/>
	  </plugin>
	</plugins>

	<environments default="development">
	
		<!-- MySQL数据库配置 -->
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
        		<property name="url" value="${url}"/>
        		<property name="username" value="${username}"/>
        		<property name="password" value="${password}"/>
			</dataSource>
		</environment>
		
		<!-- PostgreSQL数据库配置 -->
		<environment id="product">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
			  	<property name="driver" value="org.postgresql.Driver" />
				<property name="url" value="jdbc:postgresql://localhost:5432/postgres" />
				<property name="username" value="postgres" />
				<property name="password" value="postgres" />
			</dataSource>
		</environment>
	</environments>

	<databaseIdProvider type="DB_VENDOR">
		<property name="SQL Server" value="sqlserver" />
		<property name="DB2" value="db2" />
		<property name="Oracle" value="oracle" />
		<property name="MySQL" value="mysql" />
		<property name="H2" value="h2" />
		<property name="Derby" value="derby" />
		<property name="HSQL" value="hsql" />
		<property name="Informix" value="informix" />
		<property name="MS-SQL" value="ms-sql" />
		<property name="PostgreSQL" value="postgresql" />
		<property name="Sybase" value="sybase" />
		<property name="Hana" value="hana" />
	</databaseIdProvider>

	<mappers>
		<mapper resource="org/mybatis/example/WeatherMapper.xml" />
	</mappers>
</configuration>